@page
@model AboutModel
@{
    ViewData["Title"] = "О программе";
}
<h1 class="mb-4">@ViewData["Title"]</h1>

<p>Лабораторная работа 1 по дисциплине "Разработка приложений ASP.NET".</p>
<p>Выполнила студентка группы ДИНРб-31 Болонина Катя.</p>
<p>Вариант 1.</p>
<p>Список дел (атрибуты: строка-тема, флаг выполнено/невыполнено, число-приоритет).</p>
